<!DOCTYPE html>
<html lang="en">

<head>
    <title> Mongo Scraper</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="styleshhet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link href="" rel="stylesheet">
    <link rel="stylesheet" href="/public/assets/css/style.css">
</head>

<body>
    {{{body}}}
</body>

</html>